body{
    margin: 0;
    background-color: #dc5ebb;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

canvas{
    background-color: #222;
    border: 3px solid #00556f;
    margin-top: 16px;
}
